@model Contact
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "تماس با ما";
}

<h1>تماس با من</h1>
<section class="mbackground mfirstsection">
    <div class="box-main">
        <div class="mfirstHalf">
            <p class="mtext-big">Contact Us</p>

            <p class="mtext-small">
                You can Contact Us if you face any problem
            </p>

            <br>
            <p class="mcenter"
               style="text-decoration:none;
                          color:white;">
                Click on the below options to Contact us
            </p>

        </div>
    </div>
</section>
<section class="mservice">

    <!-- Heading-->
    <h1 class="mh-primary mcenter"
        style="margin-top:30px;">
        Options to Contact
    </h1>
    <div class="container">
        <div class="row">
            <div class="mbox col-lg-3 col-12">
                <!-- Form -->
                <a href="@Model.Github">
                    <img src="~/images/project/github.png"
                         alt="color_image" width="200">
                </a>
                <br>

                <!-- Displaying text at
                the center of the box-->
                <p class="mcenter">
                    @Model.Github
                </p>

            </div>
            <div class="mbox col-lg-3 col-12">

                <!-- Email -->
                <a href="@Model.Instagram">
                    <img src="~/images/project/Instagram.webp"
                         alt="color_image" width="200">
                    </a>
                    <br>

                    <!-- Displaying text at
        the center of the box-->
                    <p class="mcenter">
                        @Model.Instagram
                    </p>

            </div>
            <div class="mbox col-lg-3 col-12">
                <a href="@Model.Whatsapp">
                    <img src="~/images/project/Whatsapp.png"
                         alt="color_image" width="200">
                    </a>
                    <br>

                    <!-- Displaying text at
        the center of the box-->
                    <p class="mcenter">
                        @Model.Whatsapp
                    </p>

            </div>

    </div>
    </div>
</section>